*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #404d61;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
    padding: 1em 300px 10px 200px;
}

.cabecalho-lista-item1{
    display: inline-flex;
    margin: 13px;
    font-size: 19px;
}

.cabecalho-lista-item2{
    display: inline-flex;
    margin: 13px;
    font-size: 19px;
}
.cabecalho-lista-item3{
    display: inline-flex;
    margin: 13px;
    font-size: 19px;
}

.seta{
    width: 4%;
}


.escola-imagem1{
    
width: 30%;
    justify-content: flex-start;
}

.informações{
    background-image: linear-gradient(#424E61,#1da9c9);
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.informações-div-conteudo{
    width: 35%;
}


.informações-titulo1{
    font-size: 30px;
    padding: 10px 0;
}
.informações-titulo2{
    font-size: 28px;
    padding: 10px 0;
}

.alunos{
    background-color: #f1e0b1;
    padding: 24px 0;
}
.alunos-titulo{
    font-size: 30px;
    padding: 20px; 
}
.alunos-imagem1{
    width: 130px;
}

.alunos-imagem2{
    width: 130px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-icone-twitter{
    size: 15px;
    width: 24px;
    padding: 4px 8px;
}

.alunos-div{
    text-align: center ;
    padding: 16px 0;
}

